<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="../src/css/style.css">
	<link rel="stylesheet" href="../src/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
	<section id="formulario">
		<p id="titulo">Login</p>

		<form action="" class="">
			<div id="c_form">
				<div class="input">
					<div class="input-icon icon-username"></div>
					<input type="text" name="nome" placeholder=" Nome">
				</div>
				<div class="input">
					<input type="password" name="senha" placeholder="Senha">
				</div>
				<div class="input">
					<input type="text" name="empresa" placeholder="Empresa">
				</div>
				<div class="input">
					<input type="text" name="modulo" placeholder="Modulo">
				</div>
				<div class="input">
					<button type="submit" >Enviar</button>
				</div>
    	   	</div>
	    
	   	</form>
	<footer>
		<h5>MBoss Tecnologiia</h5>
	</footer>
		</select>

</body>
</html>