<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="../src/css/style.css">

</head>
<body>
	<header class="containe">
	    <h1>Korzus Clod</h1>
	</header>
	<main>
	  
	    <div class="boxs ">
	    	<h2>Log In</h2>
	    <form action="">
			<br>
	    	<div class="row">
	    		<div class="col-xs-6">
	    			<input type="text" name="nome">
	    		</div>
	    	</div>
	    	<br>
	    	<div class="row">
	    		<div class="col-xs-6"><input type="password"></div>
	    	</div>
	    	<br>
	    	<div class="row">
	    		<div class="col-xs-6"><input type="text"></div>
	    	</div>
	    	<br>
	    	<div class="row">
	    		<div class="col-xs-6"><input type="text"></div>
	    	</div>
			<br>
	    	<div class="row">
	    		<div class="col-xs-6"><button type="submit" class="btn ">Enviar</button></div>
	    	</div>
	    	</form>
	    </div>
		
	</main>
	<footer>
		<div class="containe">
		<h5>MBoss Tecnologiia</h5>		</div>
	</footer>
</body>
</html>